@font-face {
	font-display: swap;
	font-family: "Red Hat Text";
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/static/RedHatText-Regular.ttf) format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Red Hat Text";
	font-style: normal;
	font-weight: 600;
	src: url(/fonts/static/RedHatText-SemiBold.ttf) format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Red Hat Text";
	font-style: normal;
	font-weight: 700;
	src: url(/fonts/static/RedHatText-Bold.ttf) format("truetype");
}

:root {
	/* Colours */
	--c-red: hsl(14, 86%, 42%);
	--c-green: hsl(159, 69%, 38%);

	--c-rose-50: hsl(20, 50%, 98%);
	--c-rose-100: hsl(13, 31%, 94%);
	--c-rose-300: hsl(14, 25%, 72%);
	--c-rose-400: hsl(7, 20%, 60%);
	--c-rose-500: hsl(12, 20%, 44%);
	--c-rose-900: hsl(14, 65%, 9%);

	/* Typography */
	--ff-default: "Red Hat Text", Arial, Helvetica, sans-serif;
	--fs-default: 16px;
	--fw-reg: 400;
	--fw-semi: 600;
	--fw-bold: 700;

	/* Custom Variables */

    /* Base */
	--body-background: var(--c-rose-50);
	--body-foreground: var(--c-rose-900);

    /* Product List */
	--cart-btn-background: hsl(0, 100%, 100%);
	--cart-btn-border: 2px solid var(--c-rose-300);

	--amount-btn-background: var(--c-red);
	--amount-btn-foreground: var(--c-rose-50);
	--amount-btn-border: 2px solid var(--c-red);

	--amount-toggle-background: var(--c-red);
	--amount-toggle-foreground: var(--c-rose-50);
	--amount-toggle-border: 1.75px solid var(--c-rose-50);

	--item-category: var(--c-rose-500);
	--item-price: var(--c-red);
	--item-border: 3px solid transparent;
	--item-selected-border: 3px solid var(--c-red);
}

@layer reset {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	* {
		margin: 0;
	}

	body {
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
	}

	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-width: 100%;
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}
}

@layer base {
	html {
		font-family: var(--ff-default);
		font-size: var(--fs-default);
		font-weight: var(--fw-reg);
	}

	body {
		background-color: var(--body-background);
		color: var(--body-foreground);
	}

	body.modal-open {
		overflow: hidden;
	}
}